<html>

<head>
  <title><%= title %></title>
  <!-- <link rel="stylesheet" href="/drawer/stylesheets/style.css"> -->
</head>

<body>
  <h1>
    Welcome to Drawer!!
  </h1>
  <div>tables</div>
  <div>
    <%- tables %>
  </div>
</body>

</html>