<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <!-- <link rel="stylesheet" href="/drawer/stylesheets/style.css"> -->
</head>

<body>
  <%- include('./header', {
    logged_in
  }) %>
  <%- include(`./${page}`, opt) %>
</body>

</html>