<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/common/stylesheets/style.css">
</head>

<body>
  <header>
    Not Found
  </header>
  <div class="contents">
    Sorry,
    <br>
    <%= requestedURL %> is not found.
  </div>
</body>

</html>