<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/common/stylesheets/style.css">
</head>

<body>
  <header>
    Internal Server Error
  </header>
  <div class="contents">
    Sorry,
    <br>
    Please wait a while and access again.
  </div>
</body>

</html>