<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/common/stylesheets/style.css">
</head>

<body>
  <header>
    Learn-pro Web Contents
  </header>
  <div class="contents">
    <div class="subtitle">
      Learn-pro とは
    </div>
    <div class="info">
      <p>
        久留米高専の寮生で技術を教えあったり<br>
        自分で作ったものを発表したりする<br>
      </p>
      <p>
        寮生のつながりを作るためにできたグループ
      </p>
    </div>
    <hr>
    <div class="subtitle">
      グループ内コンテンツ
    </div>
    <div class="info">
      <p>
        以下のコンテンツはIDとPASSを入力しないと利用できません<br>
        ご了承ください
      </p>
      <a href="/login">
        グループ内コンテンツはこちら
      </a>
    </div>
  </div>
</body>

</html>
